.app {
    position: relative;
    height: 100vh;
}

.container {
    padding: 10px;
    margin: 0 auto;

    @media (min-width: 768px) {
        max-width: 600px;
    }

    @media (min-width: 991px) {
        max-width: 800px;
    }
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.column {
    flex-direction: column;
}
.imags-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    overflow: scroll;

    >div {
        position: relative;
        background-color: #b4b4b4;
        border: 1px solid black;
        width: 256px;
        height: 256px;
        border-radius: 6px;
    }
}

.input-container {
    width: 100%;
    padding: 5px;
    background: #b4b4b4;
    border-radius: 6px;

    input,
    button {
        border: none;
        border-radius: 4px;
        margin: 0 2px;
    }

    button {
        padding: 10px;
    }
}
.over {
    box-shadow: 0 0 6px 0.7px #0000006e, 0 0 1px 1px #b8b8b8;
    padding: 5px;
    z-index: 3;
    border-radius: 6px;
}